<div class="container text-white py-5">
  <div class="row">
    <div class="col-md-4 d-flex flex-column justify-content-between">
      <div>
        <h3>Welcome to our support page</h3>
        <p class="grey">
          We're here to help you with any problem you may be having with our
          product
        </p>
      </div>
      <img
        src="../../assets/images/support-img-Hgh44lun.png"
        class="w-100 rounded mb-2"
        alt=""
      />
    </div>
    <div class="col-md-8 bg-black br-color rounded p-3 mb-2">
      <div class="d-flex justify-content-between gap-5">
        <div class="w-100">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            id="firstName"
            class="form-control bg-1"
            placeholder="Enter First Name"
          />
        </div>
        <div class="w-100">
          <label for="LastName" class="form-label">Last Name</label>
          <input
            type="text"
            id="LastName"
            class="form-control bg-1"
            placeholder="Enter Last Name"
          />
        </div>
      </div>
      <div class="d-flex justify-content-between gap-5">
        <div class="w-100">
          <label for="Email" class="form-label">Email</label>
          <input
            type="email"
            id="Email"
            class="form-control bg-1"
            placeholder="Enter your Email"
          />
        </div>
        <div class="w-100">
          <label for="Number" class="form-label">Phone Number</label>
          <input
            type="tel"
            id="number"
            class="form-control bg-1"
            placeholder="Enter phone number"
          />
        </div>
      </div>
      <div class="d-flex justify-content-center flex-column">
        <label for="textarea" class="form-label">Message</label>
        <textarea
          name="textarea"
          id="textarea"
          placeholder="Enter your message"
          class="w-100 rounded bg-1 p-3"
          rows="10"
        ></textarea>
      </div>
      <div class="py-2 scalo">
        <button type="submit" class="p-2 border-0 rounded-2 btn-red w-100 text-white">
          Send Message
        </button>
      </div>
    </div>
  </div>
</div>
<app-frequently-asked></app-frequently-asked>
<app-start-free-trial></app-start-free-trial>
