input,textarea{
    border-color: rgb(35, 35, 35);
}
.btn-red{
    background-color: red;
}
.bg-1 {
    background-color: #1a1a1a !important; 
    color: white !important; 
    border: 1px solid #444; 
}

.bg-1:focus {
    background-color: #1a1a1a !important;
    box-shadow: none !important; 
    border-color: #666 !important; 
}
.bg-1::placeholder {
    color: #bbb !important; 
    opacity: 1; 
}
.br-color{
    border: 2px solid rgb(78, 78, 78);
}

