<div class="my-2 p-4">
  <legend>
    <h4 class="text-white m-auto p-2 rounded-2 bg-red w-fit m-0">Movies</h4>
  </legend>
  <div class="container br-thin p-3 rounded-2">
    <app-pop-movies></app-pop-movies>
    <app-up-coming-movies></app-up-coming-movies>
    <app-must-watch></app-must-watch>
  </div>
  <div class="my-2">
    <legend>
      <h4 class="text-white m-auto p-2 rounded-2 bg-red w-fit m-0">Shows</h4>
    </legend>
    <div class="container br-thin p-3 rounded-2">
      <app-pop-shows></app-pop-shows>
      <app-trending-shows-components></app-trending-shows-components>
      <app-must-watch-shows></app-must-watch-shows>
    </div>
    <app-start-free-trial></app-start-free-trial>
  </div>
</div>
