<div >
    <img
      src="../../assets/images/home-background-C8l-ZOYh.png"
      class=" w-100 homeImage"
      alt=""
    />
    <img
      src="../../assets/images/background-logo-CyQhR-bc.png"
      class="homeLogo"
      alt=""
    />
    <div class="text-center homeText">
      <h3 class="text-white">The Best Streaming Experience</h3>
      <p class="grey w-100">
        StreamVibe is the best streaming experience for watching your favorite
        movies and shows on demand, anytime, anywhere. With StreamVibe, you can
        enjoy a wide variety of content, including the latest blockbusters,
        classic movies, popular TV shows, and more. You can also create your own
        watchlists, so you can easily find the content you want to watch.
      </p>
      <div class="text-center my-2">
        <button class="text-white bg-red p-2 border-0 rounded-2 "routerLink="/movies&shows">
            Start Watching Now
        </button>
      </div>
    </div>
  </div>
  

<app-devices></app-devices>
<app-frequently-asked></app-frequently-asked>
<app-start-free-trial></app-start-free-trial>