.fit {
    width: fit-content;
}

.bg-black {
    color: black;
}

.br {
    border: 3px solid rgb(78, 78, 78);
}
.nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999999999999999;
    transition: background-color 0.5s 
}
.searchIcon input{
    transition: opacity 0.3s ease;
}

  