<div class="bg-black">
  <div class="container py-5 text-white">
    <div class="row">
      <div class="col-md-4 col-lg-2">
        <h3>home</h3>
        <ul class="list-unstyled">
          <a href=""><li>Categories</li></a>
          <a href=""><li>Priceing</li></a>
          <a href=""><li>Devices</li></a>
          <a href=""><li>fAQ</li></a>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2">
        <h3>Movies</h3>
        <ul class="list-unstyled">
          <a href=""><li>Geners</li></a>
          <a href=""><li>Trending</li></a>
          <a href=""><li>New Release</li></a>
          <a href=""><li>Popular</li></a>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2">
        <h3>Shows</h3>
        <ul class="list-unstyled">
          <a href=""><li>Geners</li></a>
          <a href=""><li>Trending</li></a>
          <a href=""><li>New Release</li></a>
          <a href=""><li>Popular</li></a>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2">
        <h3>Support</h3>
        <ul class="list-unstyled">
          <a href=""><li>Contact Us</li></a>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2">
        <h3>Subscriptions</h3>
        <ul class="list-unstyled">
          <a href=""><li>Plan</li></a>
          <a href=""> <li>Features</li></a>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2">
        <h3>Connect With Us</h3>
        <ul class="list-unstyled d-flex justify-content-center">
          <a href="">
            <li class="m-2 rounded-2 p-2 bg-iconblack text-white">
              <i class="fa-brands fa-facebook"></i></li
          ></a>
          <a href="">
            <li class="m-2 rounded-2 p-2 bg-iconblack text-white">
              <i class="fa-brands fa-twitter"></i></li
          ></a>
          <a href="">
            <li class="m-2 rounded-2 p-2 bg-iconblack text-white">
              <i class="fa-brands fa-linkedin"></i></li
          ></a>
        </ul>
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between text-grey">
      <div>2023 streamvib, All Rights Reserved</div>
      <div class="d-flex gap-2">
        <div>Terms of Use</div>
        <div>|</div>
        <div>Privacy Policy</div>
        <div>|</div>
        <div>Cookie Policy</div>
      </div>
    </div>
  </div>
  
</div>