<div class="container">
  <div class="d-flex flex-column py-5 text-white p-5 rounded-3">
    <div class="row">
      @for (Item of SearchedItems; track $index) {
      <div class="col-lg-3 col-md-4 col-sm-12 my-4">
        <div
          class="p-2 bg-card rounded-3 d-flex flex-column justify-content-between w-100 h-100 cardo cursor-pointer"
          [routerLink]="['/',Item.media_type, Item.id]"
          routerLinkActive="router-link-active"
        >
          <div>
            <img
            [src]="Item.poster_path 
              ? 'https://image.tmdb.org/t/p/w500/' + Item.poster_path 
              : (Item.profile_path 
                  ? 'https://image.tmdb.org/t/p/w500/' + Item.profile_path
                  : '../../assets/images/ezgif-6c3e90eb8dd16.png')"
            class="rounded-3 w-100"
            [alt]="Item.title || Item.name"
          />
            <div class="text-center">
              <h4 class="text-wrap text-break m-0">
                {{ Item.name ? Item.name : Item.title }}
              </h4>
            </div>
          </div>
          <div>
            <div class="text-center p-2 bg-1 rounded-3 my-1">
              <i class="fa-regular fa-calendar"></i>
              {{
                Item.release_date
                  ? Item.release_date.split("-")[0]
                  : Item.first_air_date?.split("-")[0]
              }}
            </div>
            <div class="text-center p-2 bg-1 rounded-3">
              <i class="fa-solid fa-star text-warning"></i>
              {{ Item.vote_average }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
