html,
body {
  overflow: auto;
  background-color: #191919;
}
p{
  margin: 0;
}

.bg-card {
  background-color: #2a2a2a;
}

.bg-1 {
  background-color: #191919;
}

.w-fit {
  width: fit-content;
}

.bg-grey {
  background-color: grey;
}

.bg-red {
  background-color: red;
}

::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #525252;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b00000;
}

.br-thin {
  border: 1px solid rgb(43, 43, 43);
}

.btn-red {
  background-color: red;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.scalo:hover {
  scale: 1.05;
  transition-duration: 0.5s;
}

.scalo {
  transition-duration: 0.5s;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.bg-transperant {
  background-color: transparent;
}
ngx-spinner{
  z-index: 999999999999999999999999999;
}